<nav class="round">
	<ul>
		<li><%= link_to('About', root_path) %></li>|
		<li><%= link_to('CV', resume_path) %></li>|
		<li><%= link_to('Experiences', experiences_path) %></li>|
		<li><%= link_to('Skills', skills_path)%></li>|
		<li><%= link_to('Blog', blog_path) %></li>
	</ul>
</nav>
